body {
    font-family: Arial, sans-serif;
    background-image: url('temp_converter.avif'); /* Replace 'background.jpg' with your image file */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: lightblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    width: 300px;
    margin: 100px auto 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: white;
}

/* Rest of your existing CSS styles */





.input-container {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}